<li class="item weapon-draggable activable-item {{weapon.extraCss}}" data-item-id="{{weapon.id}}">
    <div class="skill-item-row flexrow">
        <div class="identification table-complex-column flexrow">
            <div class=" flexrow">
                <img class="editor-toggle" src="{{weapon.img}}" title="{{weapon.name}}" height="32" width="32"
                     alt="{{localize 'tor2e.traits.details.tech.alt'}}"/>
                <a class="weapon-name"
                   title="{{localize 'tor2e.weapons.details.tech.alt' }}"
                   data-action-name="{{localize weapon.data.data.skill.label}}"
                   data-action-value="{{weapon.data.data.skill.value}}"
                   data-associate-attribute-name="strength"
                   data-action-favoured-name="data.skill.favoured.value"
                   data-action-favoured-value="{{weapon.data.data.skill.favoured.value}}">
                    <p>{{weapon.name}}</p>
                </a>
            </div>
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{weapon.data.data.damage.value}}</p>
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{weapon.data.data.injury.value}}</p>
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{weapon.data.data.load.value}}</p>
        </div>
        <div class="stat-value">
            <div class="tor2e-round-checkbox">
                <p class="toggle-equipped-state {{#if weapon.data.data.equipped.value}}active{{/if}}"
                   data-primary-attribute="data.equipped.value" data-secondary-attribute="data.dropped.value">
                    <span class="label"></span>
                </p>
            </div>
        </div>
        <div class="stat-value">
            <div class="tor2e-round-checkbox">
                <p class="toggle-dropped-state {{#if weapon.data.data.dropped.value}}active{{/if}}"
                     data-primary-attribute="data.dropped.value" data-secondary-attribute="data.equipped.value">
                    <span class="label">
                    </span>
                </p>
            </div>
        </div>
        <div class="actions">
            <a class="item-edit action" title='{{localize "tor2e.sheet.skill.edit"}}'>
                <i class="fas fa-edit"></i>
            </a>
            <a class="item-delete action" title='{{localize "tor2e.sheet.skill.delete"}}'>
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <div class="flexcol editor-container-toggelable">
        <div class="flexcol">
            <div class="flexrow">
                <p class="table-caption">{{localize "tor2e.weapons.details.group"}}</p>
                {{#if custom.extendedWeaponSelection}}
                    <p class="table-caption">{{localize "tor2e.weapons.details.skill-name"}}</p>
                {{/if}}
                <p class="table-caption">{{localize "tor2e.weapons.details.notes"}}</p>
            </div>
            <div class="flexrow">
                <p class="attribute-value">{{localize weapon.data.data.group.value}}</p>
                {{#if custom.extendedWeaponSelection}}
                    <p class="attribute-value">{{weapon.data.data.skill.name}}</p>
                {{/if}}
                <p class="attribute-value">{{weapon.data.data.notes.value}}</p>
            </div>
        </div>
        {{#if custom.showHideRangeBlock}}
            {{#if weapon.data.data.ranged.value}}
                <div class="flexcol">
                    <div class="flexrow">
                        <p class="table-caption">{{localize weapon.data.data.ranged.short.label}}</p>
                        <p class="table-caption">{{localize weapon.data.data.ranged.medium.label}}</p>
                        <p class="table-caption">{{localize weapon.data.data.ranged.long.label}}</p>
                    </div>
                    <div class="flexrow">
                        <p class="attribute-value">{{weapon.data.data.ranged.short.value}} + {{localize
                                "tor2e.stats.strength"}}</p>
                        <p class="attribute-value">{{weapon.data.data.ranged.medium.value}}  + {{localize
                                "tor2e.stats.strength"}}</p>
                        <p class="attribute-value">{{weapon.data.data.ranged.long.value}}  + {{localize
                                "tor2e.stats.strength"}}</p>
                    </div>
                </div>
            {{/if}}
        {{/if}}
        <div>
            <h3 class="toggle">{{localize "tor2e.common.description"}}</h3>
            <div class="editor-container">
                {{editor content=weapon.data.data.description.value target="this.data.description.value" button=true
                         owner=isOwner editable=false}}
            </div>
        </div>
    </div>
</li>