<li class="skill-item item" data-item-id="{{id}}">
    <div class="skill-item-row flexrow">
        <div class="identification">
            <div class=" flexrow">
                <img class="editor-toggle" src="{{img}}" title="{{name}}" height="32" width="32"
                     alt="{{localize 'tor2e.skills.details.tech.alt'}}"/>
                <a class="item-skill-name {{#if data.data.favoured.value}} favoured-attribute{{/if}}"
                   title="{{ localize 'tor2e.sheet.actions.toggle.favoured' }}"
                   data-action-name="{{localize data.data.label}}"
                   data-action-value="{{data.data.value}}"
                   data-associate-attribute-name="strength"
                   data-action-favoured-name="data.favoured.value"
                   data-action-favoured-value="{{data.data.favoured.value}}">
                    <p>{{name}}</p>
                </a>
            </div>
        </div>
        <div class="stat-value">
            <div class="inline-item-skill-modify flexrow skill-element-row" data-field="data.value"
                 data-action-value="{{data.data.value}}"
                 data-action-max-value="6">
                {{#skill-dots data.data.value 6}}
                {{/skill-dots}}
            </div>
        </div>
        <div class="actions">
            <a class="item-edit action" title=""{{localize "tor2e.sheet.skill.edit"}}>
                <i class="fas fa-edit"></i>
            </a>
            <a class="item-delete action" title="{{ localize 'tor2e.sheet.skill.delete' }}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <div class="editor-container-toggelable">
        {{editor content=this.data.data.description.value target="this.data.description.value" button=true owner=isOwner
                 editable=false}}
    </div>
</li>